@page "/perfil"

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IApartamentoServices ApartamentoService
@inject NavigationManager Navigation
@inject IReservaServices ReservaService
@inject IJSRuntime JS


@using System.Globalization
@using P20230252MILUGAR.web.Data
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using P20230252MILUGAR.web.Data.Dtos
@using P20230252MILUGAR.web.Data.Services
@rendermode InteractiveServer


<div class="perfil-container">
    <div class="perfil-header">
        <div class="foto-perfil">
            <span></span>
        </div>
        <div>
            <h2>@Nombre</h2>
            <p class="rol">@Rol</p>
            <button type="button" class="btn-editar" @onclick="IrModficar">✏️ EDITAR PERFIL</button>
        </div>
        @if (isAuthenticated)
        {
            <form class="logout-form" action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="Account/Login" />
                <button type="submit" class="btn-logout">CERRAR SESIÓN</button>
            </form>
        }
        else
        {
            <form class="logout-form"   >
            <button type="button" class="btn-login" @onclick="Login">INICIAR SESIÓN</button>
            </form>
        }
    </div>
    <div class="info-box">
        <h4>Información personal</h4>
        <ul class="info-list">
            <li><span>📧</span>@Email</li>
            <li><span>📞</span> @Telefono</li>
        </ul>
        <a href="/Account/Manage/ChangePassword" class="link-cambiar">🔑 Cambiar contraseña</a>
    </div>


    @if (!esVendedor)
    {
        <div class="vendedor-box">
            <button type="button" class="btnVendedor" @onclick="MostrarModal">Conviértete en vendedor</button>
        </div>
    }
    @if (esVendedor)
    {
    <button type="button" class="btn-editar" disabled="@(!esVendedor)" @onclick="IrACrearApartamento">
        ✏️ PUBLICAR APARTAMENTO
    </button>
    <div class="publicaciones-box">
        <h4>Mis Publicaciones</h4>

        @if (MisApartamentos.Count == 0)
        {
            <p>No tienes publicaciones aún.</p>
        }
        else
        {
            @foreach (var ap in MisApartamentos)
            {
                <div class="publicacion" style="position: relative;">
                    <p><strong>@ap.Titulo</strong></p>
                    <p>Estado: @(ap.Disponibilidad ? "Publicado" : "No disponible")</p>
                    <div class="publicacion-actions-vertical">
                            <div class="notificacion-wrapper">
                                <button class="btn-reserva-noti" title="Ver reservas pendientes" @onclick="() => MostrarReservasDelApartamento(ap.Id)">
                                    🔔
                                </button>
                                @if (ReservasPorApartamento.ContainsKey(ap.Id) && ReservasPorApartamento[ap.Id].Any())
                                {
                                    <span class="notificacion-contador">@ReservasPorApartamento[ap.Id].Count</span>
                                }
                            </div>
                        <button class="btn-editar" title="Editar" @onclick="() => EditarApartamento(ap.Id)">
                            ✏️
                        </button>
                        <button class="btn-borrar" title="Borrar" @onclick="() => BorrarApartamento(ap.Id)">
                            🗑️
                        </button>
                    </div>
                    <br>
                        @if (apartamentoConReservasId == ap.Id && ReservasPorApartamento.ContainsKey(ap.Id))
                        {
                            var reservas = ReservasPorApartamento[ap.Id];

                            if (reservas.Count == 0)
                            {
                                <p style="margin-left: 15px;">No hay reservas pendientes para este apartamento.</p>
                            }
                            else
                            {
                                <div class="reservas-pendientes mt-2" style="margin-left: 15px;">
                                    @foreach (var reserva in reservas)
                                    {
                                        <div class="card p-3 mb-2">
                                            <p><strong>Usuario:</strong> @reserva.NombreUsuario</p>
                                            <p><strong>Fecha:</strong> @reserva.FechaSolicitud.ToString("dd/MM/yyyy hh:mm tt")</p>
                                            <div>
                                                <button class="btn btn-success me-2" @onclick="@(() => CambiarEstadoReserva(reserva.Id, "Aceptada"))">Aceptar</button>
                                                <button class="btn btn-danger" @onclick="@(() => CambiarEstadoReserva(reserva.Id, "Cancelada"))">
                                                    Cancelar
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        }
                </div>

            }
        }
    </div>
    <br/>
    }
    <div class="reservas-box">
        <h4>Mis Reservas</h4>
        @if (MisReservas.Count == 0)
        {
            <p>No tienes reservas activas.</p>
        }
        else
        {
            @foreach (var reserva in MisReservas)
            {
                <div class="reserva-card">
                    <div class="reserva-info">
                        <div>
                            <p class="rol">
                                @Rol
                                @if (notificacionesCliente > 0)
                                {
                                    <span class="notificacion-punto">🔴</span>
                                }
                            </p>
                            <p><strong>Apartamento:</strong> @reserva.NombreApartamento</p>
                            <p>
                                <strong>Estado:</strong>
                                <span class="badge-estado @reserva.Estado.ToLower()">@reserva.Estado</span>
                            </p>
                        </div>

                        <div class="boton-vermas">
                            <button class="btn-vermas"
                                    @onclick="() => IrADetalleReserva(reserva.Id)">
                                Ver más
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    @if (mostrarConvertirse)
    {
        <div class="modal-politicas">
            <h5>Políticas de Privacidad</h5>
            <p>Debes aceptar nuestras políticas para convertirte en vendedor.</p>
            <div>
                <input type="checkbox" @bind="aceptaPoliticas" /> Acepto las políticas de privacidad
            </div>
            <button @onclick="ConfirmarVendedor" class="btn btn-success" disabled="@(aceptaPoliticas == false)">Aceptar</button>
            <button @onclick="() => mostrarConvertirse = false" class="btn btn-danger">Cancelar</button>
        </div>
    }
</div>



@code {
    private int? apartamentoConReservasId = null;
    private Dictionary<int, List<ReservaDtos>> ReservasPorApartamento = new();
    private string? currentUrl;
    private string? Nombre;
    private string? Email;
    private string? Telefono;
    private string? Rol;
    private List<ApartamentoDtos> MisApartamentos = new();
    private bool isAuthenticated;
    private List<ReservaDtos> MisReservas = new();



    private int notificacionesCliente = 0;
    private int notificacionesVendedor = 0;


    protected override async Task OnInitializedAsync()
    {
        notificacionesCliente = MisReservas
        .Count(r => r.Estado == "Aceptada" || r.Estado == "Cancelada");

        if (esVendedor)
        {
            foreach (var apartamento in MisApartamentos)
            {
                var reservas = await ReservaService.ConsultarPorApartamentoIdAsync(apartamento.Id);
                var pendientes = reservas.Where(r => r.Estado == "Pendiente").Count();
                if (pendientes > 0)
                {
                    notificacionesVendedor += pendientes;
                }
            }
        }
        currentUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isAuthenticated = user.Identity is not null && user.Identity.IsAuthenticated;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            var appUser = await UserManager.GetUserAsync(user);
            if (appUser != null)
            {
                Nombre = appUser.Nombre;
                Email = appUser.Email;
                Telefono = appUser.PhoneNumber;
                Rol = appUser.Rol == "Vendedor" ? "Vendedor" : "Cliente";
                esVendedor = appUser.Rol == "Vendedor";


                MisApartamentos = ApartamentoService.ConsultarPorUsuarioId(appUser.Id);
                MisReservas = await ReservaService.CosultarId(appUser.Id);

                foreach (var ap in MisApartamentos)
{
    var reservas = await ReservaService.ConsultarPorApartamentoIdAsync(ap.Id);
    ReservasPorApartamento[ap.Id] = reservas
        .Where(r => r.Estado == "Pendiente")
        .ToList();
}

                
            }
        }
    }

    private bool mostrarConvertirse = false;
    private bool aceptaPoliticas = false;
    private bool esVendedor = false;

    private async Task ConfirmarVendedor()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            var appUser = await UserManager.GetUserAsync(user);
            if (appUser != null)
            {
                appUser.Rol = "Vendedor";
                await UserManager.UpdateAsync(appUser);

                esVendedor = true;
                Rol = "Vendedor";
            }
        }

        mostrarConvertirse = false;
        aceptaPoliticas = false;
        StateHasChanged(); 
    }



    private void MostrarModal() => mostrarConvertirse = true;

    private void IrACrearApartamento()
    {
        Navigation.NavigateTo("Apartamentos");
    }
    private void IrModficar()
    {
        Navigation.NavigateTo("/Account/Manage");
    }

    
    private void EditarApartamento(int id)
    {
        Navigation.NavigateTo($"/Apartamentos/{id}");
    }

    private async Task BorrarApartamento(int id)
    {
        if (await JS.InvokeAsync<bool>("confirm", "¿Estás seguro de que deseas borrar este apartamento?"))
        {
            var eliminado = ApartamentoService.Eliminar(id);
            if (eliminado)
            {
                var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                var user = authState.User;
                var appUser = await UserManager.GetUserAsync(user);
                if (appUser != null)
                {
                    MisApartamentos = ApartamentoService.ConsultarPorUsuarioId(appUser.Id);
                    StateHasChanged();
                }
            }
        }
    }

    private void Login()
    {
        Navigation.NavigateTo("/Account/Login");
    }

    private void IrADetalleReserva(int reservaId)
    {
        Navigation.NavigateTo($"/reserva/detalle/{reservaId}");
    }

    private async Task CambiarEstadoReserva(int reservaId, string nuevoEstado)
    {
        await ReservaService.ActualizarEstadoReservaAsync(reservaId, nuevoEstado);

        if (apartamentoConReservasId.HasValue)
        {
            await MostrarReservasDelApartamento(apartamentoConReservasId.Value);
        }
    }

    private async Task MostrarReservasDelApartamento(int apartamentoId)
    {
        if (apartamentoConReservasId == apartamentoId)
        {
            apartamentoConReservasId = null;
            return;
        }

        var reservas = await ReservaService.ConsultarPorApartamentoIdAsync(apartamentoId);

        ReservasPorApartamento[apartamentoId] = reservas
            .Where(r => r.Estado == "Pendiente")
            .ToList();

        apartamentoConReservasId = apartamentoId;
    }




}
